.contato {
  padding-left: 0;
  padding-right: 0;
  .white {
    padding-top: 48px;
    padding-bottom: 58px;
    .title {
      font-weight: bold;
      font-size: 46px;
      letter-spacing: 0.02em;
      line-height: 50px;
      text-align: left;
      color: $brown;
      padding-bottom: 20px;
    }
  }
  .form-box {
    padding-top: 56px;
    padding-bottom: 58px;
    background: $blue;
    .title {
      font-weight: bold;
      font-size: 23px;
      letter-spacing: 0.04em;
      line-height: 20px;
      text-align: left;
      color: $brown;
      padding-bottom: 48px;
      text-align: center;
    }
    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    textarea::placeholder,
    input[type="text"]::-moz-placeholder,
    input[type="email"]::-moz-placeholder,
    textarea::-moz-placeholder {
      font-weight: normal;
      font-style: italic;
      font-size: 17px;
      letter-spacing: 0.04em;
      line-height: 40px;
      text-align: left;
      color: $blue;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.699);
      border: 1px solid #243746;
      margin-bottom: 13px;
    }
    input[type="text"],
    input[type="email"] {
      height: 44px;
    }
    textarea {
      height: 154px;
    }
    .btn {
      height: 43px;
      border-radius: 21.5px;
      background: $brown;
      font-family: "Nunito Sans";
      font-weight: bold;
      font-size: 16px;
      line-height: 35px;
      color: $blue;
      display: flex;
      justify-content: center;
      margin: 0 0 0 auto;
      text-transform: uppercase;
      padding: unset;
    }
  }
  .endereco {
    padding-top: 66px;
    padding-bottom: 32px;
    p {
      font-size: 19px;
      line-height: 30px;
    }
    .tel {
      margin-top: 20px;
      display: inline;
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 0.04em;
      line-height: 39px;
      text-align: left;
      color: $blue;
      img {
        margin-right: 10px;
      }
    }
  }
  .mapa {
    background: url("../../dist/img/mapa.png") center center no-repeat;
    background-size: cover;
    height: 250px;
    display: block;
  }
  .btn-box {
    padding-top: 71px;
    padding-bottom: 71px;
    .btn-servicos {
      background: $brown;
      margin-bottom: 0;
      img {
        padding-right: 10px;
      }
      span {
        color: $blue;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints ,lg)) {
    padding-left: 30px;
    padding-right: 30px;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .white {
      display: flex;
      justify-content: space-between;
      .title {
        font-size: 40px;
        line-height: 40px;
      }
    }
    .form-box {
      border-radius: 50px 0;
      padding-left: 15%;
      padding-right: 15%;
    }
    .end-map-lg {
      padding-top: 70px;
      display: flex;
      flex-direction: row-reverse;
      .mapa {
        border-radius: 50px 0px;
      }
      .endereco {
        padding-top: 0;
        margin-right: 0;
        .title-section {
          padding-bottom: 20px;
        }
        p {
          padding-bottom: 15px;
        }
      }
    }
    .btn-servicos {
      flex-direction: row-reverse;
      background: $blue !important;
      span {
        color: $brown !important;
      }
    }
  }
}
