.envio-docs {
  padding-top: 59px;
  padding-left: 0;
  padding-right: 0;
  .white {
    padding-bottom: 59px;
  }
  .form-box {
    .title {
      font-size: 23px;
      text-align: center;
      padding-bottom: 48px;
    }
    padding-top: 56px;
    padding-bottom: 59px;
    background: $brown;

    span.arquivo {
      position: relative;
    }
    span.arquivo:before {
      content: "Selecione um arquivo..";
      position: absolute;
      left: 0;
      padding: 5px 15px;
      color: $blue !important;
      cursor: pointer;
      border-radius: 8px;
      background: transparent;
      border: 1px solid $blue;
      margin-bottom: 10px;
      width: 100%;
      font-family: "DM Sans";
      font-weight: normal;
      font-style: italic;
      font-size: 17px;
      letter-spacing: 0.04em;
      text-align: left;
    }
    span.arquivo > input {
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    select,
    textarea::placeholder,
    input[type="text"]::-moz-placeholder,
    input[type="email"]::-moz-placeholder,
    textarea::-moz-placeholder {
      font-family: "DM Sans";
      font-weight: normal;
      font-style: italic;
      font-size: 17px;
      letter-spacing: 0.04em;
      text-align: left;
      color: $blue;
      opacity: 1;
    }

    input[type="text"],
    input[type="file"],
    input[type="email"],
    select,
    textarea {
      border-radius: 8px;
      background: transparent;
      border: 1px solid $blue;
      margin-bottom: 13px;
    }
    input[type="text"],
    input[type="file"],
    input[type="email"],
    select {
      height: 44px;
    }
    textarea {
      height: 154px;
    }
    .btn {
      height: 43px;
      border-radius: 21.5px;
      background: $blue;
      font-family: "Nunito Sans";
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
      color: $brown;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      margin: 0 0 0 auto;
    }
  }
  .btn-box {
    padding-top: 73px;
    padding-bottom: 73px;
    padding-left: 30px;
    padding-right: 30px;
    .btn-servicos {
      background: $blue;
      margin-bottom: 0;
      span {
        color: $brown;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints ,lg )) {
    padding-left: 30px;
    padding-right: 30px;
    .white {
      p {
        margin: 0 auto;
      }
    }
    .form-box {
      border-radius: 50px 0 !important;
      padding-left: 10%;
      padding-right: 10%;
      .w-49 {
        width: 49%;
        flex: unset;
        max-width: unset;
      }
    }
    .btn-box {
      padding-left: 0;
      padding-right: 0;
      .btn-servicos {
        .detail-lg-btn {
          img {
            position: absolute;
            right: 30px;
            filter: invert(1%) sepia(50%) saturate(1800%) hue-rotate(200deg)
              brightness(29%) contrast(91%);
          }
        }
      }
    }
  }
}
