.faq {
  padding-top: 52px;
  padding-bottom: 78px;
  overflow-x: hidden;

  .title-section {
    font-size: 38px !important;
  }
  .card {
    border: none;
    outline: none;
    position: relative;
    .card-header {
      border: none;
      background: none;
      padding: 0;
      .btn:hover {
        text-decoration: none;
      }
      .btn:focus {
        box-shadow: none;
        text-decoration: none;
      }
      .btn-link {
        outline: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        width: 100%;
        .title {
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0.04em;
          line-height: 23px;
          text-align: left;
          color: $blue;
          padding-bottom: 0px;
        }
        .icon {
          font-size: 30px;
          letter-spacing: 0.04em;
          line-height: 30px;
          text-align: left;
          color: $blue;
          transform: rotate(90deg);
        }
        .icon-up {
          transform: rotate(-90deg);
        }
      }
    }
    .card-body {
      padding: 0;
      font-size: 16px;
      letter-spacing: 0.04em;
      line-height: 23px;
      text-align: left;
      color: $blue;
      margin-bottom: 20px;
      p {
        margin-bottom: 15px;
      }
      ul {
        padding-left: 15px;
        li {
          list-style-type: disc;
          font-size: 16px;
          color: $blue;
        }
      }
    }
    .line {
      margin-bottom: 10px;
      width: 110%;
      height: 2px;
      background: $blue;
      opacity: 0.15;
      position: absolute;
      bottom: 0;
    }
  }
}

.duvida {
  padding-left: 0;
  padding-right: 0;
  .box-blue {
    padding-top: 56px;
    padding-bottom: 131px;
    background: $blue;
    position: relative;
    margin-bottom: 430px;
    .title {
      font-weight: bold;
      font-size: 35px;
      letter-spacing: 0.04em;
      line-height: 42px;
      text-align: left;
      color: $brown;
    }
    p {
      color: $brown;
    }
  }
  .box-brown {
    position: absolute;
    background: $brown;
    padding: 37px;
    bottom: -381px;
    border-radius: 40px 0px;
    right: 0;
    
    input[type="text"],
    input[type="email"],
    textarea {
      display: block;
      width: 100%;
      border-radius: 8px;
      background: transparent;
      border: 1px solid $blue;
      margin-bottom: 13px;
      padding-left: 7px;
      padding-right: 7px;
    }
    input[type="text"],
    input[type="email"] {
      height: 44px;
    }
    textarea {
      height: 153px;
    }
    .btn {
      padding: 10px;;
      border-radius: 21.46px;
      background: $blue;
      text-transform: uppercase;
      color: $brown;
      font-family: "Nunito Sans";
      font-weight: bold;
      font-size: 15px;
      line-height: 30px;
      display: flex;
      justify-content: center;
      margin: 0 0 0 auto;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    .box-blue {
      margin-bottom: 62px;
      padding-left: 78px;
      .detail-box {
        top: unset !important;
        bottom: 50px;
        right: -1px;
        border-top-left-radius: 10px !important;
      }
    }
    .box-brown {
      position: unset;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 0 40px !important;
    }
  }
}
