.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: $blue;
  img {
    margin-bottom: 30px !important;
    margin: 0 auto;
    display: block;
  }

  .links {
    margin-bottom: 30px;
    div {
      display: flex;
      flex-direction: column;
      a {
        font-size: 16px;
        letter-spacing: 0.04em;
        line-height: 50px;
        text-align: left;
        color: $brown;
        text-transform: uppercase;
      }
      a:last-child {
        padding-bottom: 0;
      }
    }
  }

  .line {
    height: 0px;
    background: transparent;
    border: 1px solid $brown;
    margin-bottom: 50px;
  }

  .contato-footer {
    a {
      max-width: 82%;
      font-size: 16px;
      letter-spacing: 0.04em;
      line-height: 30px;
      text-align: left;
      color: $brown;
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      i {
        margin-right: 10px;
      }
    }
    a:last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-bottom: 0;
    img {
      width: 282px;
      margin: 30px 0;
    }
    .links {
      display: flex;
      div:first-child {
        margin-right: 50px;
      }
    }
    .line {
      width: 1px;
      height: 150px;
    }
    .contato-footer {
      .contato-flex {
        display: flex;
        a:first-child {
          margin-bottom: 0;
          margin-right: 40px;
        }
      }
    }
  }
}
