// .invisivel {
//   height: 85px;
// }
header {
  background: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
  .container {
    margin: 0 auto;
    height: 101px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    img {
      width: 262px;
    }
    .links {
      a {
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        color: #192a51;
        padding: 15px;
      }
    }
  }
}

.ativo {
  height: 100vh !important;
  align-items: baseline !important;
  position: relative;
  background: url("../../dist/img/textura-menu-mob.jpg") center center no-repeat;
  background-size: cover;

  .logo-nav {
    background: url("../../dist/img/logo-black.png") center center no-repeat !important;
    background-size: contain !important;
  }
  .menu-icon {
    .navicon {
      &:before,
      &:after {
        background: black !important;
      }
    }
  }
  .menu {
    position: absolute;
    top: 120px;
    max-height: 100% !important;
  }
}

.top-nav {
  position: fixed;
  background-color: rgba($color: $blue, $alpha: 0.8);
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: top 0.75s ease-in-out;
  overflow: hidden;
  .logo-nav {
    background: url("../../dist/img/logo.png") center center no-repeat;
    background-size: contain;
    height: 30px;
    width: 145px;
  }

  .menu {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 0;
    transition: max-height 0s ease-in-out;
    padding-left: 10px;

    a {
      font-size: 16px;
      letter-spacing: 0.06em;
      line-height: 26px;
      text-align: center;
      color: #243746;
      text-transform: uppercase;
      padding-bottom: 26px;
      padding-top: 26px;
    }

    .mini {
      span {
        font-size: 16px;
        letter-spacing: 0.04em;
        line-height: 30px;
        text-align: left;
        color: #243746;
        text-transform: none;
        display: inline;
      }
      i {
        border: 1px solid #243746;
        border-radius: 5px;
        padding: 3px;
      }
    }

    .mob-a {
      display: inline-block;
      min-width: 75px;
      margin: 0.3em 0;
      padding: 0 10px;
      transition: 1s all;
      text-decoration: none;
      font-size: 20px;

      &:link,
      &:visited {
        color: #253e78;
      }

      &:focus,
      &:hover,
      &:active {
        transform: scale(1.1) rotate(-2deg);
        color: #253e78;
      }
    }
    .line-detail {
      margin-top: 75px;
      margin-bottom: 55px;
      width: 85%;
      height: 3px;
      background: #c8d336;
    }
    .midias {
      display: flex;
      i {
        font-size: 28px;
        color: #c8d336;
        margin-right: 30px;
      }
    }
  }

  .logo {
    display: inline-block;
    width: 150px;
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;

    .navicon {
      background: $brown;
      display: block;
      height: 2px;
      position: relative;
      width: 1.625rem;

      &:before,
      &:after {
        background: $brown;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 7px;
      }

      &:after {
        top: -7px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 300px;
    }

    &:checked ~ .menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    &:checked ~ .menu-icon:not(.steps) .navicon {
      &:before,
      &:after {
        top: 0;
      }
    }
  }
}

.banner {
  background: url("../../dist/img/bg-banner-mob.png") center center no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 25px;

  .name-single,
  .name-services,
  .processo-texto,
  .name-processo,
  .d-desk {
    display: none;
  }

  span {
    letter-spacing: 0.02em;
    line-height: 37px;
    text-align: center;
    color: $brown;
  }
  .page-name {
    font-weight: bold;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    display: none;
  }
  .name-bold {
    font-size: 39px;
    font-weight: bold;
  }
  .title-banner {
    font-size: 33px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p {
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 22px;
    text-align: center;
    color: $brown;
    margin-bottom: 20px;
  }
  .line {
    height: 0px;
    background: transparent;
    border: 1px solid $brown;
    margin-bottom: 20px;
  }
}

.banner-2 {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../dist/img/banner-pages-mob.png") center center no-repeat;
  background-size: cover;
  .page-name {
    display: block;
    width: 97%;
    margin: 0 auto;
  }
  .container {
    margin-bottom: 0 !important;
  }
  .name-bold,
  .title-banner,
  .line,
  .search-component,
  .name-services,
  .name-single,
  .d-desk,
  .processo-texto,
  .name-processo,
  p {
    display: none !important;
  }
}

.banner-single {
  .name-bold,
  .title-banner,
  .page-name,
  .search-component,
  .d-desk,
  p {
    display: none;
  }
  .name-processos {
    display: none;
  }
  .name-single,
  .name-services {
    display: block !important;
  }

  .name-services {
    font-size: 38px;
    letter-spacing: 0.02em;
    line-height: 73px;
    text-align: center;
    color: $brown;
  }
  .line {
    display: block;
    margin: 5px auto;
    width: 186px;
    height: 2px;
    background: $brown;
  }
  .name-single {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.02em;
    line-height: 47px;
    text-align: center;
    color: $brown;
  }
}

.banner-processo {
  .name-bold,
  .title-banner,
  .d-desk,
  p {
    display: none;
  }
  .page-name {
    display: block;
    margin-bottom: 15px;
  }
  .search-component {
    margin-bottom: -69px;
  }
  .name-processos {
    display: block !important;
  }

  .name-processos {
    font-size: 38px;
    letter-spacing: 0.02em;
    line-height: 73px;
    text-align: center;
    color: $brown;
  }
  .line {
    display: block;
    margin: 5px auto;
    width: 186px;
    height: 2px;
    background: $brown;
  }
  .name-processo {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.02em;
    line-height: 30px;
    text-align: center;
    color: $brown;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 11px;
  }
}
.banner-proc-2 {
  .name-processo {
    display: none;
  }
  .processo-texto {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.04em;
    line-height: 20px;
    text-align: center;
    color: $brown;
    margin: 15px 0;
    display: block;
  }
}

// DESKTOP MENU CSS
@media (min-width: 840px) {
  .top-nav li {
    margin: 0 10px;
  }
  .top-nav .menu {
    width: auto;
    max-height: none;
    flex-direction: row;
  }
  .top-nav .menu-icon {
    display: none;
  }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
  header {
    .container {
      background: transparent;
      box-shadow: none;
      border-radius: none;
      height: 80px;
      img {
        width: 145px;
      }
      .links {
        a {
          color: $brown;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.1em;
          text-align: left;
          padding: 5px 10px;
          border: 1px solid transparent;
          border-radius: 12px;
          &:hover,
          &.page-active {
            border-color: $brown;
          }
        }
      }
    }
  }
  .banner {
    background: url("../../dist/img/bg-banner-desk.png") center center no-repeat;
    background-size: cover !important;
    text-align: center;
    .container {
      margin-bottom: -60px;
    }
    .page-name {
      font-weight: normal;
    }
    .name-bold,
    .title-banner {
      display: inline;
      font-size: 58px;
      line-height: 73px;
    }
    p {
      margin: 15px auto;
    }
    .line {
      display: none;
    }
    .d-desk {
      display: block;
      margin: 30px auto;
    }
  }
  .banner-2 {
    .page-name {
      font-weight: bold;
    }
  }
  .banner-single {
    padding-top: 0;
    height: 280px;
    align-items: center;
    display: flex;
    .name-bold,
    .title-banner,
    .d-desk {
      display: none !important;
    }
    .line {
      display: block;
    }
  }
  .banner-processo {
    padding-top: 48px;
    height: 300px;
    align-items: center;
    display: flex;
    .name-bold,
    .title-banner,
    .d-desk {
      display: none !important;
    }
    .name-processo {
      font-size: 46px;
      margin-bottom: 32px;
    }
    .line {
      display: block;
    }
  }
  .banner-proc-2 {
    .line {
      width: 302px;
    }
    .processo-texto {
      margin: 20px auto;
    }
  }
}
