.sobre-home {
  padding-top: 72px;
  .sobre {
    border: 2px solid #c1a292;
    margin-bottom: 52px;
    img {
      width: 361.81px;
      position: absolute;
      left: -49px;
      max-width: unset;
    }
    .title {
      padding-top: 82px;
      padding-bottom: 12px;
    }
  }
  .fazemos {
    background: $blue;
    margin-bottom: 52px;
    .title,
    p {
      color: $brown;
      width: 90%;
    }
    .btn-cta {
      margin-top: 51px;
      width: 131px;
      height: 43px;
    }
  }
  @media (min-width: map-get($grid-breakpoints , lg )) {
    display: flex;
    padding-top: 102px;
    justify-content: space-between;
    .sobre {
      padding-bottom: 70px;
      // img {
      //   width: 100%;
      // }
      .title {
        padding-top: 140px;
      }
    }
    .fazemos {
      padding-top: 70px;
      padding-bottom: 70px;
      position: relative;
      .btn-cta {
        position: absolute;
        bottom: 70px;
      }
    }
  }
}
