.processos-content {
  padding-top: 100px;
  padding-bottom: 60px;
  .item {
    border-bottom: 2px solid $brown;
    padding-bottom: 20px;
    padding-top: 30px;
    .header {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      img {
        height: 43px;
      }
      .title {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-align: left;
        color: $blue;
      }
    }
    .btn-saiba {
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 0.04em;
      line-height: 30px;
      text-align: left;
      color: $brown;
      padding-left: 0;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .item {
      position: relative;
      padding-bottom: 40px;
      padding-top: 40px;
      .header {
        .border-lg {
          height: 65px;
          border-radius: 50px 0px;
          border: 2px solid $blue;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 30px;
        }
        .title {
          font-size: 23px;
          line-height: 30px;
        }
      }
      .btn-saiba {
        position: absolute;
        right: 0;
      }
    }
  }
}

.processos-envio {
  background: $brown;
  padding-top: 57px;
  padding-bottom: 37px;

  .title {
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 0.04em;
    line-height: 20px;
    text-align: center;
    color: $blue;
    padding-bottom: 40px;
  }

  span.arquivo {
    position: relative;
  }
  span.arquivo:before {
    content: "Selecione um arquivo..";
    position: absolute;
    left: 0;
    padding: 5px 15px;
    color: $blue !important;
    cursor: pointer;
    border-radius: 8px;
    background: transparent;
    border: 1px solid $blue;
    margin-bottom: 10px;
    width: 100%;
    font-family: "DM Sans";
    font-weight: normal;
    font-style: italic;
    font-size: 17px;
    letter-spacing: 0.04em;
    text-align: left;
  }
  span.arquivo > input {
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  select,
  textarea::placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  textarea::-moz-placeholder {
    font-family: "DM Sans";
    font-weight: normal;
    font-style: italic;
    font-size: 17px;
    letter-spacing: 0.04em;
    text-align: left;
    color: $blue;
    opacity: 1;
  }

  input[type="text"],
  input[type="file"],
  input[type="email"],
  select,
  textarea {
    border-radius: 8px;
    background: transparent;
    border: 1px solid $blue;
    margin-bottom: 13px;
  }
  input[type="text"],
  input[type="file"],
  input[type="email"],
  select {
    height: 44px;
  }
  textarea {
    height: 154px;
  }
  .btn {
    height: 43px;
    border-radius: 21.5px;
    background: $blue;
    font-family: "Nunito Sans";
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $brown;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 0 0 auto;
  }
}

.btn-page {
  .btn-box {
    padding-top: 71px;
    padding-bottom: 71px;
    .btn-servicos {
      background: $brown;
      margin-bottom: 0;
      img {
        padding-right: 10px;
      }
      span {
        color: $blue;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .btn-servicos {
      flex-direction: row-reverse;
      background: $blue !important;
      span {
        color: $brown !important;
      }
    }
  }
}

.processo {
  padding: 112px 0 72px;
  .col-lg-4 {
    margin-bottom: 58px;
  }
  .fundo-azul {
    background-color: $blue;
    border-radius: 50px 0 50px 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .informacoes-processos {
    color: $blue;
    font-size: 20px;
    margin-bottom: 71px;
    b {
      text-transform: uppercase;
    }
    @media (min-width: map-get($grid-breakpoints,lg)) {
      margin-bottom: 58px;
      font-size: 23px;
    }
  }
  .informacoes-acordeao {
    .card {
      border: 0;
      margin: 5px 0 30px;
      &:nth-last-child(1) {
        //ultimo acordeão
        .card-header {
          padding-top: 35px;
          padding-bottom: 40px;
        }
      }
      .card-header {
        border-radius: 40px 0 40px 0;
        border: 2px solid $marrom;
        background: white;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 25px;

        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $marrom-escuro;
          outline: 0;
          text-decoration: none;
          box-shadow: none;
          font-size: 20px;
          padding: 0;
          &:not(.collapsed) {
            font-weight: bold;

            .fa-plus {
              display: none;
            }
            .fa-minus {
              display: inline;
            }
          }
          .fa-minus {
            display: none;
          }
        }
        span {
          max-width: 125px;
        }
      }
    }
  }
  .arquivo {
    color: $blue;
    padding: 35px 0;
    border-bottom: 2px solid $brown;
    h3 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 31px;
    }
    .download {
      .cta-download {
        display: inline-block;
        margin-left: 18px;
        background: $brown;
        border-radius: 22px;
        color: $blue;
        padding: 11px 20px 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        &:hover {
          text-decoration: none;
          color: $blue;
        }
      }
    }
    &.relatorio {
      color: $brown;
      border-bottom-color: $blue;
      .download {
        .cta-download {
          background: $blue;
          color: $brown;
          &:hover {
            color: $brown;
          }
        }
      }
    }
  }
  .informacoes-tabs {
    border: 2px solid $marrom;
    border-radius: 0 50px 0 70px;
    padding: 36px 34px 0;
    margin-bottom: 72px;
    .nav-tabs {
      border-bottom: 2px solid $marrom;
      margin-bottom: 40px;
      .nav-link {
        border: 2px solid transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: -2px;
        color: $blue;
        &.active,
        &:hover {
          color: $blue;
          font-weight: bold;
          background-color: #fff;
          border-color: $marrom $marrom #fff;
        }
      }
    }
    .tab-pane {
      &#credores,
      &#assembleias {
        padding: 25px 61px 91px;
        p {
          font-size: 16px;
        }
      }
      &#planos,
      &#relatorios {
        .no-result{
          font-size:20px;
          padding-left: 20px;
          padding-bottom: 40px;
        }
        .separar {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          height: 100%;
          width: 100%;
        }
        .arquivo {
          margin-bottom: 40px;
          border: 2px solid $marrom;
          height: 276px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 30px;
          padding-left: 30px;
          padding-right: 15px;
          padding-bottom: 30px;
        }
        .top-right {
          border-radius: 0 50px 0 0;
        }
        .bottom-left {
          border-radius: 0 0 0 50px;
        }
      }
    }
  }
  .link-processos {
    margin-bottom: 71px;
    .cta-processos {
      border-radius: 50px 0 50px 0;
      display: flex;
      padding: 26px 26px 27px 27px;
      align-items: center;
      justify-content: space-between;
      background: $blue;
      color: $brown;
      font-size: 16px;
      font-weight: bold;
      @media (min-width: map-get($grid-breakpoints,lg)) {
        justify-content: flex-start;
        font-size: 26px;
        padding: 0;
        span:not(.bg-detalhe) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 0 27px 0 32px;
        }
        .bg-detalhe {
          border-radius: 50px 0 50px 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 26px 26px 27px 27px;
          width: 100%;
          max-width: 414px;
          background: url(../img/detail-btn-processos.png) $brown;
        }
      }
    }
  }
}
.cta-formulario {
  border: 0;
  background: $brown;
  margin: 0 auto;
  color: $blue;
  border-radius: 200px;
  font-weight: bold;
  font-size: 22px;
  padding: 20px 32px;
  display: block;
}
.formulario-processos {
  .modal-dialog {
    margin-right: 36px;
    margin-left: 36px;
  }
  .modal-content {
    background: $brown;
    color: $blue;
    border-radius: 40px 0 40px 0;
    .modal-header {
      border-bottom: 0;
    }
    h2 {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
    }
  }
  .wpcf7-form {
    ::placeholder {
      color: $blue;
      font-style: italic;
    }
    input,
    textarea,
    label {
      width: 100%;
      border-radius: 8px;
      border: 1px solid $blue;
      background: transparent;
      outline: 0;
      box-shadow: none;
      color: $blue;
      padding: 11px 0 11px 018px;
    }
    label {
      font-style: italic;
    }
    input[type="file"] {
      display: none;
    }
    input[type="submit"] {
      max-width: 111px;
      background: $blue;
      color: $brown;
      text-transform: uppercase;
      font-weight: bold;
      text-align: right;
      border-radius: 22px;
      padding: 11px 25px 10px 26px;
      float: right;
    }
  }
  @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    padding: 56px 177px 60px 180px;
    background: $marrom;
    border-radius: 50px 0 50px 0;
    h2 {
      color: $blue;
      font-size: 26px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 37px;
    }
  }
}
