.conheca {
  .white {
    padding-top: 41px;
    padding-bottom: 71px;
    .title-section {
      font-size: 40px;
      color: $brown !important;
      padding-bottom: 21px;
    }
    .line {
      width: 213px;
      height: 2px;
      background: $brown;
      margin-bottom: 21px;
    }
    .sub {
      font-size: 20px;
      text-align: left;
      padding-bottom: 25px;
      color: $brown !important;
    }
    p {
      margin-bottom: 20px !important;
    }
  }
  .blue {
    position: relative;
    background: $blue;
    overflow-x: hidden;
    .estrutura {
      position: absolute;
    }

    p {
      padding-top: 280px;
      padding-bottom: 80px;
      color: $brown;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    margin-bottom: 200px;
    .white {
      padding-top: 74px;
    }
    .blue {
      display: flex;
      overflow-x: unset;
      border-bottom-left-radius: 40px;
      border-top-right-radius: 60px;
      .estrutura {
        right: 0;
        height: 456px;
        max-width: 382px;
        background: transparent;
        z-index: 4;
        padding-right: 0 !important;
      }
      p {
        padding-bottom: 50px;
        padding-top: 54px;
      }
    }
  }
}
.equipe {
  position: relative;
  padding-top: 78px;

  .person {
    .foto {
      border-radius: 40px 0;
      min-height: 300px;
      &.alexandre {
        background: url(../img/alexandre.jpg) 50% 15% no-repeat;
        background-size: cover;
      }
      &.guilherme {
        background: url(../img/guilherme.jpg) 50% 50% no-repeat;
        background-size: cover;
      }
      &.fabio {
        background: url(../img/fabio.jpg) 50% 20% no-repeat;
        background-size: cover;
      }
    }
    .left {
      position: relative;
      top: -25px;
    }
    .right {
      position: relative;
      top: -25px;
      right: -77px;
    }
    .title {
      padding-bottom: 15px;
    }
    p {
      margin-bottom: 68px;
    }
  }
  .btn-servicos {
    background: $brown;
  }
  @media (min-width: map-get($grid-breakpoints,lg)) {
    .detail-box {
      height: 83px;
      position: absolute;
      top: -35px;
      right: 125px;
    }
    .person {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }
    .br-custom {
      border-radius: 0 40px !important;
    }
    .right-0 {
      right: 0 !important;
      position: absolute !important;
      top: unset !important;
      bottom: -18px;
    }
    .btn-servicos {
      flex-direction: row-reverse;
      background: $blue;
      padding-left: 40px !important;
      span {
        color: $brown;
      }
    }
  }
}
