.servicos {
  padding-top: 64px;
  overflow-x: hidden;
  .item {
    position: relative;
    .item-header {
      height: 91px;
      background: $brown;
      display: flex;
      align-items: center;
      padding: 15px;
      .title {
        font-weight: bold;
        font-size: 25px;
        line-height: 23px;
        text-align: left;
        padding: 0;
        color: $dark-brown;
      }
      .icon {
        width: 50px;
        margin-right: 15px;
      }
    }
    .detail {
      width: 110%;
      position: absolute;
      height: 53px;
      max-width: unset;
      z-index: 5;
    }
    .left {
      left: -32px;
    }
    .right {
      right: -31px;
    }
    .item-body {
      padding-top: 78px !important;
      padding: 37px;
      border: 2px solid $brown;
      margin-bottom: 50px;
      .title {
        display: none;
      }
      .btn {
        padding: 0;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.04em;
        line-height: 30px;
        text-align: left;
        color: $brown;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .item {
      display: flex;
      height: 374px;
      margin-bottom: 30px;

      .left,
      .right {
        right: unset;
        left: unset;
        height: unset;
        width: 45%;
        bottom: 15px;
        z-index: 5;
      }
      .item-header {
        margin-bottom: 50px;
        height: unset;
        display: flex;
        justify-content: center;
        .title {
          display: none;
        }
        .icon {
          width: unset;
          position: relative;
          top: -20px;
        }
      }

      .item-body {
        padding-top: 37px !important;
        position: relative;
        .right {
          right: 37px;
          width: unset;
        }
        .title {
          padding-bottom: 30px;
          display: block;
        }
        .btn {
          position: absolute;
          bottom: 37px;
        }
      }
    }
    .item:last-child {
      margin-bottom: 80px;
    }
  }
}
