.single-servicos {
  padding-top: 64px;
  padding-bottom: 70px;
  .container {
    padding-bottom: 150px;
  }
  .header {
    position: absolute;
    left: 0;
    height: 91px;
    background: $brown;
    display: flex;
    align-items: center;
    padding: 27px;
    img {
      margin-right: 12px;
      width: 50px;
    }
    .title {
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 0.04em;
      line-height: 23px;
      text-align: left;
      color: $dark-brown;
      padding-bottom: 0;
    }
  }
  .line {
    width: 100%;
    height: 2px;
    background: $brown;
    position: absolute;
    left: 0;
  }
  .top {
    top: 89px;
  }

  .bottom {
    bottom: 0;
  }

  .body {
    padding-top: 115px;
    position: relative;
    .title {
      display: none;
    }
    p {
      margin-bottom: 15px;
    }
  }

  .detail-body {
    position: absolute;
    left: 0;
    width: 85%;
    bottom: -25px;
  }
  .servicos-template {
    margin-top: 80px;
    .btn-servicos {
      background: $blue;
      margin-bottom: 0;
      span {
        color: $brown !important;
        padding-left: 10px;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    .container {
      padding-bottom: 50px;
    }
    .container-box {
      border: 2px solid $brown;
      border-radius: 50px 0;

      .br-rt {
        border-radius: 40px 0 !important;
      }
      .header {
        position: unset;
        height: 304px;
        justify-content: center;
        img {
          width: unset;
          margin: 0;
        }
        .title {
          display: none;
        }
      }
      .detail-body {
        // display: none;
        left: unset;
        width: 500px;
        right: 30px;
        position: absolute;
        bottom: 10px;
      }
      .line {
        display: none;
      }
      .body {
        position: unset;
        padding-top: 66px;
        padding-left: 50px;
        padding-right: 50px;
        .title {
          display: block;
        }
      }
      .conteudo {
        padding: 65px;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints , lg)) {
  .servicos-template {
    .btn-servicos {
      background: $blue !important;
      position: relative;
      span {
        color: $brown !important;
      }
      img {
        left: unset;
        right: 34px;
        position: absolute;
        filter: invert(1%) sepia(50%) saturate(1800%) hue-rotate(200deg)
          brightness(29%) contrast(91%);
      }
    }
  }
}
