@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

$blue: #243746;
$marrom: #c0a293;
$marrom-escuro: #85675c;
$brown: #c1a292;
$dark-brown: #5a4741;

$br-btn: 26.5px;
$br-left-top: 40px 0px 0px 0px;
$br-right-top: 0px 40px 0px 0px;
$br-right-bottom: 0px 0px 40px 0px;
$br-left-bottom: 0px 0px 0px 40px;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans";
  span {
    display: block;
  }
}

img {
  @extend .img-fluid;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.04em;
  line-height: 23px;
  text-align: left;
  padding-bottom: 15px;
}

.title-section {
  font-size: 39px;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 40px;
  text-align: left;
  color: $blue;
  padding-bottom: 38px;
}

p {
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 23px;
  text-align: left;
  color: $blue;
  margin-bottom: 0;
  @media (min-width: map-get($grid-breakpoints , lg)) {
    font-size: 16px;
    line-height: 26px;
  }
}

.br-lt {
  border-radius: $br-left-top;
}

.br-rt {
  border-radius: $br-right-top;
}

.br-br {
  border-radius: $br-right-bottom;
}

.br-bl {
  border-radius: $br-left-bottom;
}
.paginacao {
  margin-top: 49px;
  .barradenavegacao {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      li {
        display: none;
        font-size: 22px;
        color: $brown;
        margin-left: 15px;
        margin-right: 15px;
        &:nth-child(1) {
          display: initial;
          margin-left: 0;
        }
        &:nth-last-child(1) {
          display: initial;
        }
        .current {
          color: $blue;
        }

        a {
          color: $brown;
        }
        .next,
        .prev {
          font-size: 30px;
          display: initial;
        }
        @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
          display: initial;
        }
      }
    }
  }
}
.bold-d {
  display: inline;
  @media (min-width: map-get($grid-breakpoints,lg)) {
    font-weight: bold;
  }
}
.no-result {
  font-size: 30px;
  color: $blue;
  font-weight: bold;
}
.detail-box {
  background: url("../../dist/img/detail-conheca-mob.png") center center
    no-repeat;
  background-size: cover;
  height: 60px;
  position: absolute;
  top: -35px;
  right: 0;
}

.box {
  padding: 38px;
  position: relative;
}

.btn-cta {
  border-radius: $br-btn;
  background: $brown;
  text-transform: uppercase;
  font-family: "Nunito Sans";
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
  text-align: left;
  color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-servicos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px 0px;
  height: 99px;
  margin: 0 auto 70px;
  padding-left: 20px;
  padding-right: 20px;
  span {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 22px;
    text-align: left;
    color: $blue;
  }
  .arrow {
    font-size: 43px;
    letter-spacing: 0.04em;
    line-height: 38px;
    text-align: left;
    color: $blue;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    justify-content: space-between;

    .detail-lg-btn {
      border-radius: 40px 0;
      background: url("../../dist/img/detail-btn.png") center center no-repeat;
      background-size: cover;
      width: 40% !important;
      height: 100% !important;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 34px;
      padding-right: 34px;
    }
    span {
      font-size: 26px;
      line-height: 23px;
    }
  }
}

.pre-footer {
  text-align: center;
  padding: 38px;
  background: url("../../dist/img/bg-pre-footer.png") center center no-repeat;
  background-size: cover;
  .btn-cta {
    padding: 10px;
    background: $dark-brown;
    color: $brown;
    border-radius: $br-btn;
    margin-bottom: 30px;
    font-family: "Nunito Sans";
    font-size: 17px;
    letter-spacing: 0.06em;
    line-height: 38px;
    text-align: left;
  }
  .btn-cta:first-child {
    margin: 30px auto;
    margin-top: 0 !important;
  }
  .btn-cta:last-child {
    margin-bottom: 0;
  }
  @media (min-width: map-get($grid-breakpoints , lg )) {
    background: url("../../dist/img/bg-prefooter-desk.png") center center
      no-repeat;
    background-size: cover;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-cta {
        margin-bottom: 0;
      }
      .btn-cta:first-child {
        margin: unset;
        margin-right: 30px !important;
      }
      .btn-cta:last-child {
        margin-left: 30px;
      }
    }
  }
}
.search-component.top-30 {
  top: 30px;
  position: relative;
}

.search-component {
  .text {
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 22px;
    text-align: center;
    color: $brown;
    margin-bottom: 22px;
  }
  .box {
    width: 100%;
    height: 92px;
    border-radius: 40px 0px;
    background: $brown;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    .input {
      display: flex;
      width: 100%;
      height: 48px;
      background: transparent;
      border: 2px solid $dark-brown;
      border-radius: $br-btn;
      align-items: center;
      padding-right: 15px;
      input {
        background: transparent;
        border: none;
        outline: none;
        padding-left: 15px;
        color: $dark-brown;
        font-size: 16px;
        width: 90%;
        &::placeholder,
        &::-moz-placeholder,
        &::-webkit-input-placeholder {
          color: $dark-brown;
          font-style: italic;
        }
      }
      button {
        background-color: transparent;
        border: 0;
        img {
          max-width: unset;
        }
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints , lg )) {
    .text {
      display: none;
    }
    .box {
      margin: 0 auto;
      position: relative;
      padding-left: 60px;
      padding-right: 60px;
      input {
        width: 98% !important;
      }
    }
  }
}
.search-processos {
  .text {
    display: none;
  }
}

.porque {
  margin-top: 50px;
  margin-bottom: 50px;
  .d-color {
    width: 100%;
    margin-bottom: 35px;
  }
  p {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.04em;
    line-height: 30px;
    text-align: left;
    color: $blue;
  }
  .padding-mobile {
    padding: 0 80px;
  }
  .black {
    filter: invert(1%) sepia(50%) saturate(1800%) hue-rotate(200deg)
      brightness(29%) contrast(91%);

    // filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(269deg) brightness(30%)
    //   contrast(100%);
  }
  @media (min-width: map-get($grid-breakpoints ,lg)) {
    position: relative;
    display: flex;
    margin-bottom: 170px;
    .position-custom {
      position: absolute;
      top: 80px;
    }
    .black {
      height: 350px;
    }
  }
}
::placeholder {
  color: $blue;
}
.servicos-home {
  margin-bottom: 60px;
  position: relative;
  .title-section {
    padding-bottom: 16px;
  }
  .wrapper {
    .tns-nav {
      position: absolute;
      bottom: -45px;
      display: flex;
      justify-content: center;
      width: 100%;
      button {
        width: 15px;
        height: 15px;
        max-width: 15px;
        max-height: 15px;
        min-width: 15px;
        min-height: 15px;
        outline: none;
        border: none;
        border-radius: 50%;
        background: $brown;
        margin: 5px;
        display: block;
      }
      .tns-nav-active {
        background: $dark-brown;
      }
    }
    .carousel-servicos {
      .item {
        height: 316px;
        border: 2px solid $brown;
        padding: 30px;
        position: relative;
        margin-right: 15px;
        img {
          position: absolute;
          width: 100%;
          right: 0;
          top: 0;
        }
        .title {
          font-weight: bold;
          font-size: 22px;
          letter-spacing: 0.04em;
          line-height: 30px;
          text-align: left;
          color: $blue;
          position: relative;
          z-index: 2;
        }
        p {
          font-size: 16px;
          letter-spacing: 0.04em;
          line-height: 23px;
          text-align: left;
          color: $blue;
          padding-bottom: 15px;
          position: relative;
          z-index: 2;
        }
        .btn {
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0.04em;
          line-height: 30px;
          text-align: left;
          color: $brown;
          padding: 0;
          position: absolute;
          bottom: 30px;
        }
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    .carousel-servicos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .br-lg-none {
        border-radius: 0 !important;
      }
      .br-lg-rb {
        border-radius: $br-right-bottom !important;
      }
      .item {
        padding-top: 73px !important;
        width: 31%;
        margin-bottom: 30px;
      }
    }
  }
}

.whats-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: #188a0e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  i {
    font-size: 27px;
    color: #fff;
  }
}

@import "contato";
@import "envio-de-documentos";
@import "footer";
@import "faq";
@import "header";
@import "home";
@import "quem-somos";
@import "single-servico";
@import "servicos";
@import "processos";
